.nav_back{
    background-color: rgba(153, 100, 24, 1);
}
.navbar-toggler{
    color: antiquewhite;
}
.singtripbtn {
    background-color: #996418;
    border: #996418;
    margin-top: 40px;
    height: 49px;
    width: 170px;
    font-size: 20px;
}
h3.headin {
    margin-top: 17px;
    color: #996418;
    font-weight: bold;
}
button.singtripbtn.btn.btn-primary:hover {
    color: #996418;
    border: solid 1px #996418;
    background: white;
    font-weight: bold;
}
h3.headin {
    margin-top: 17px;
    color: #996418;
    font-weight: bold;
    float: left;
    margin-left: 3px;
}
input#input5 {
    height: 55px;
    background: #e7e7e7;
    margin-top: 5px;
    border: solid 1px #b6b1b1;
}
h5.comment {
    color: #86b7fe;
    float: left;
    margin-top: 16px;
    margin-left: 3px;
}

button.Proceed_button.btn.btn-primary {
    width: 231px;
    margin-top: 28px;
    height: 50px;
    background-color: #996418;
    border: #996418;
    font-size: 20px;
    margin-bottom: 10px;
    float: right;
}

button.Proceed_button.btn.btn-primary:hover {
    color: #996418;
    border: solid 1px #996418;
    background: white;
    font-weight: bold;
}
button.pic_btn_modal.btn.btn-primary {
    height: 55px;
    background: #e7e7e7;
    margin-top: 5px;
    border: solid 1px #b6b1b1;
    width: 100%;
    color: #706565;
    text-align: left;
}
.caret_down {
    float: right;
}
button.pic_btn_modal.btn.btn-primary:hover {
    background-color: white;
    border: solid #996418;
}
.form-check {
    min-height: 2.5rem !important;
    padding-left: 3.5em !important;
    margin-bottom: 0.125rem !important;
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    button.Proceed_button.btn.btn-primary {
        width: 100%;
        font-size: 23px;

    }
    .modal-content {
        width: 85%;
        margin-top: 173px;
        margin-left: 30px;
    }
}
