.det_area {
    border: solid 1px #a4610d;
    margin: 0px 0px;
    text-align: left;
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 10px;
    margin-top: 10px;
    display: flow-root;
}
.det_area button {
    width: 100%;
    background: #a4610d;
    color: white;
    border: solid #b15d00 1px;
}
.det_area h4 {
    color: #a4610d;
    font-size: 17px;
    margin: 13px 0px 0px 5px;
}
.flx{
    display: flex;
}
.det_area p {
    font-size: 14px;
    font-weight: bold;
    color: gray;
}
.det_box.row {
    padding: 10px 25%;
}
button.mange_btn.btn.btn-primary {
    float: right;
    width: 190px;

}
.top_hed_bt {
    text-align: center;
    color: #996418;
}
p.cd_hd {
    font-size: 9px;
    /* margin: 7px 7px; */
    margin: 0px;
    padding: 1px;
    margin-bottom: -8px;
    margin-left: -41px;
}
button.hed_btn.btn.btn-primary {
    background: white;
    color: #996418;
    font-weight: 700;
    padding-bottom: 1px;
}
span.money {
    color: #a4610d;
    font-weight: bold;
}
.conf_btn{
    width: 100%;
    background-color: #996418;
    border: solid transparent;
}
button#dropdown-basic {
    width: 100%;
    background: transparent;
    color: #996418;
    border: #996418 solid 1px;
}

@media only screen and (max-width : 480px) {
    .det_box.row {
        padding: 0;
    }
    button.mange_btn.btn.btn-primary {
        width: 100%;
        float: none;
    
    }
}

