button.pay_bt.btn.btn-primary {
    width: 100%;
    background-color: #996418;
    border: solid transparent;
}
p.cash_para {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    border: solid 1px #996418;
    border-radius: 10px;
    /* background-color: #fdfdfd; */
    box-shadow: 2px 2px 8px 0px;
    margin: 30px 0px;
}
.modal-succ {
    text-align: center;
}
.icon_tick {
    color: #38da38;
    border: solid 1px #38da38;
    border-radius: 90px;
    height: 70px;
    width: 70px;
    padding: 10px;
    /* font-size: 47px; */

}
.inite_Succ_hed {
    font-size: 34px;
    text-align: center;
    margin: 14px 0px;
}
.mdl_btn {
    text-align: center;
    display: flex;
    justify-content: center;
}
button.btn.btn-primary.succ_mdl {
    width: 75px;
    margin-top: 14px;
}
span.money {
    color: #a4610d;
    font-weight: bold;
    font-size: 30px;
    margin: 0px 10px;
}
p.cash_para {
    display: grid;
}