.singletrip_card {
    width: 100%;
    height: auto;
    border: solid 1px #99641857;
    margin-top: 40px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 7px 10px #e4dede;
}

.smallcard {
    width: 100%;
    height: auto;
    border: solid 1px #d9d9d9;
    border-radius: 10px;
    background-color: #d9d9d9;
    margin-top: 10px;
}

.lociconarea {
    font-size: 50px;
    border: solid 1px #c9a97c;
    width: 80px;
    border-radius: 53px;
    margin-top: 21px;
    margin-left: 30px;
    background: #c9a97c;
    color: #060642;
    float: left;
    height: 80px;
}
.crossarea {
    width: 4px;
    margin-top: 27px;
}


.cardtxtarea {
    font-size: 18px;
    width: 700px;
    text-align: left;
    margin-top: 13px;
}
.cardtxtarea p{
    margin: 0px;
}
.crossarea button {
    background-color: #9c9797;
    border: #9c9797;
    border-radius: 50px;
}
.crossarea button:hover {
    background-color: #575353;
    border: #4e4c4c;
    border-radius: 50px;
}
.add_btn_card button {
    background: #f8f9f9;
    width: 70px;
    height: 70px;
    border-radius: 47px;
    border: solid 7px #996418;
    font-weight: bold;
    color: #996418;
    box-shadow: 2px 2px 7px 4px #d6cccc;
}
button.btn.btn-primary:hover {
    background: #996418;
    border: solid;
}
button.bookbtn.btn.btn-primary {
    margin-top: 127px;
    width: 190px;
    background-color: #996418;
    border: #996418;
    margin-top: 40px;
    height: 70px;
    font-size: 20px;
    margin-bottom: 25px;
    float: right;
}
.add_btn_card {
    margin-top: 30px;
}
a.singtripbtn.btn.btn-primary:hover {
    color: #996418;
    border: solid 1px #996418;
    background: white;
    font-weight: bold;
}

@media only screen and (max-width : 480px) {
    .cardtxtarea {
        font-size: 12px;
        width: 230px;
        text-align: left;
        margin-top: 13px;
    }
    
    .smallcard {
        width: 100%;
        height: 100px;
        border: solid 1px #d9d9d9;
        border-radius: 10px;
        background-color: #d9d9d9;
        margin-top: 10px;
    }
    .lociconarea {
        font-size: 30px;
        border: solid 1px #c9a97c;
        width: 50px;
        border-radius: 53px;
        margin-top: 20px;
        margin-left: 20px;
        background: #c9a97c;
        color: #060642;
        float: left;
        height: 50px;
    }




    }